<div
  class="flex justify-between align-center p-3 border shadow-sm shadow-stone-100 px-5"
>
  <div class="flex align-items-center">
    <!-- Logo -->
    <a routerLink="/home" class="flex text-xl align-center mr-10">
      <mat-icon class="mr-1">history_edu</mat-icon>
      Con<span class="text-indigo-500">Track</span>
    </a>
    <a routerLink="/call_logs" class="flex text-base mr-4">
      <span class="text-gray-500">Call Logs</span>
    </a>
    <a routerLink="/signals" class="flex text-base">
      <span class="text-gray-500">Signals</span>
    </a>
  </div>
  <div class="flex align-center">
    <h3 class="font-medium text-slate-700 my-0 mx-2">
      <!-- {{ sessionService.user.name }} -->
    </h3>
    <img
      src="https://avatars.dicebear.com/api/adventurer-neutral/
        jeff
      .svg"
      alt="Profile Picture"
      class="h-8 w-8 rounded-full"
    />
  </div>
</div>
