<section class="card w-96 bg-white flex flex-col items-center rounded-3xl p-10">
  <div class="w-fit">
    <h2 class="text-4xl font-semibold mb-5">Contract Fields</h2>
  </div>
  <div class="bg-white w-full grow px-2 overflow-auto">
    <div
      style="height: 30px"
      class="z-10 w-full flex bg-white top-0 sticky justify-end border p-1 pt-0.5 content-center"
    >
      <button class="bg-white mr-1" (click)="onAdd()">
        <mat-icon class="icon text-white bg-indigo-500 rounded-lg"
          >add</mat-icon
        >
      </button>
    </div>
    <div *ngIf="!isLoading; else loading">
      <div
        class="flex justify-between border px-3 pt-1 content-center"
        *ngFor="let term of terms; let i = index"
      >
        <div class="align-middle">{{ term.field_label }}</div>
        <div class="h-fit">
          <form [formGroup]="form">
            <mat-checkbox
              [formControlName]="i"
              (change)="setChecked(term, $event)"
              class="z-0"
            ></mat-checkbox>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Loading template-->
<ng-template #loading>
  <div class="flex justify-center">
    <mat-spinner [diameter]="40" color="primary" class="mt-3"></mat-spinner>
  </div>
</ng-template>
