<section class="bg-white rounded-3xl p-16">
  <table class="w-full border-none">
    <col width="10%" />
    <col width="10%" />
    <col width="10%" />
    <col width="10%" />
    <col width="15%" />
    <col width="10%" />
    <col width="5%" />
    <col width="10%" />
    <col width="10%" />
    <col width="10%" />

    <thead>
      <tr class="border">
        <th class="p-3 text-center">Contractor Name</th>
        <th class="p-3 text-center">Contract Category</th>
        <th class="p-3 text-center">Periodicity</th>
        <th class="p-3 text-center">Contract Value</th>
        <th class="p-3 text-center">Effective Date</th>
        <th class="p-3 text-center">Due Date</th>
        <th class="p-3 text-center">Delay</th>
        <th class="p-3 text-center">Responsible</th>
        <th class="p-3 text-center">Status</th>
        <th class="p-3 text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border p-2" *ngFor="let contract of contracts">
        <td class="text-center">{{ contract.contractor_name }}</td>
        <td class="text-center">{{ contract.contract_category }}</td>
        <td class="text-center">{{ contract.periodicity }}</td>
        <td class="text-center">{{ contract.contract_value | currency }}</td>
        <td class="text-center">{{ contract.effective_date | toDate }}</td>
        <td class="text-center">{{ contract.effective_date | toDate }}</td>
        <td class="text-center">90</td>
        <td class="text-center">{{ contract.responsible }}</td>
        <td class="text-center">{{ contract.contract_status }}</td>
        <td class="text-center">
          <button>
            <mat-icon class="text-blue-400 mx-1" (click)="onDetails(contract)"
              >launch</mat-icon
            >
          </button>
          <button>
            <mat-icon class="text-yellow-400 mx-1" (click)="onEdit(contract)"
              >edit</mat-icon
            ></button
          ><button>
            <mat-icon class="text-red-400 mx-1" (click)="onDelete(contract)"
              >delete</mat-icon
            >
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
