<section class="w-96 bg-white flex flex-col items-center rounded-3xl p-10">
  <div class="w-fit">
    <h2 class="text-4xl font-semibold mb-5">Add Field</h2>
  </div>
  <form [formGroup]="form">
    <div>
      <label>Field Name</label>
      <input
        type="text"
        formControlName="fieldLabel"
        placeholder="name"
        class="rounded-lg border w-full px-3 py-2"
      />
      <span
        class="form-text text-red-600"
        error-msg
        [valid]="!hasError('fieldLabel')"
      >
      </span>
    </div>
    <div class="columns-2">
      <div class="flex">
        <section class="flex flex-col pb-2">
          <div class="mt-5">
            <label for="fieldType" class="pl-2">Field Type </label>
            <div class="flex items-center group">
              <select
                formControlName="fieldType"
                class="rounded-lg border px-3 py-2 bg-white"
              >
                <option value="number">number</option>
                <option value="date">date</option>
                <option value="text">text</option>
                <option value="email">email</option>
                <option value="phone">phone</option>
                <option value="currency">currency</option>
                <option value="toggle">toggle</option>
              </select>
            </div>
          </div>
        </section>
      </div>
      <div class="flex">
        <section class="flex flex-col pb-2">
          <div class="mt-5">
            <label for="fieldType" class="pl-2">Field Status </label>
            <div class="flex items-center group">
              <select
                formControlName="fieldStatus"
                class="rounded-lg border px-3 py-2 bg-white"
              >
                <option value="required">required</option>
                <option value="additional">additional</option>
              </select>
            </div>
          </div>
        </section>
      </div>
    </div>
  </form>
  <div class="py-10 w-1/2">
    <button
      (click)="addField()"
      [disabled]="form.invalid"
      [ngClass]="form.valid? 'py-1 w-full border-2 text-base bg-indigo-500 rounded-md text-white' : 'py-1 w-full border-2 bg-indigo-400 text-base rounded-md text-white'"
    >
      Add
    </button>
  </div>
</section>
